@charset "utf-8";
@import url("reset.css");
@import url("font-awesome.min.css");


.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}
.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.skew (@deg, @deg2) {
	-webkit-transform:       skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
}





@black:     rgb(51, 51, 51);
@red:       rgb(184 , 38, 41);
@blue:      rgb(64 , 137, 194);
@gray:      rgb(230 , 230, 230);
@bluelight: rgb(212 , 226, 235);



@fontmodel:Arial;
 

body {
	
		background:url(../images/bk.jpg) top center white no-repeat;
		font-family:@fontmodel;
		margin:0;
		width:auto; height:auto;
		max-height:none;
		max-width:none;
        font-size:0.78em;/* ie6.7 */
		font-size:0.78em\0;/* ie8.9 */
}



a {color:@black;
   &:hover{color:@blue;}
}

/* button css */
.button , button {
    border: 0;
	cursor: pointer;
	text-transform: uppercase; /* Uppercase text */
	text-decoration:none; /* class - link Remove baseline */
	display:inline-block;
    *display:inline;
    *zoom:1;
	word-wrap: break-word; /* br */
	word-break: normal; /* br */
    .border-radius(3px);
    padding: 3px 12px;
    background: #eee;
    border: 1px solid #eee - 10%;
	}
	.button:hover , button:hover {
    background: @red;
    color: #fff;
}
  


#wrapper { width:100%; }
#container { width:940px;margin:0 auto;min-height: 300px;overflow: hidden;}

#topbar {
    height: 40px;
    width: 100%;
    background: url(../images/topbk.png) top repeat-x;
    background-size: 100% auto;


    & .info {
        width: 960px;
        margin: 0 auto;
        
            & .counter {
                padding: 10px 15px 0 15px;
                width: 400px;
                height: 30px;
                float: right;
                background: url(../images/counterbk.png) no-repeat;
                color: @red;
        }
    }
    
}

#sidebar {
    width: 220px;
    display: inline-block;
    *display:inline;
    *zoom:1;
    margin: 150px 0 0 0;
    float: left\9;

   
    & #login,#logged {
        width: 214px;
        height: 236px;
        background: url(../images/login.png);

        & ul {
            padding-top: 70px;
            line-height: 36px;
            margin: 0 auto;
            width: 150px;

            & li {
                & input {
                    width: 110px;
                    padding: 5px;
                    background: rgba(0,0,0,0 );
                    border: 0;
                    margin-left: 32px;
                }

                & button {
                    width: 160px;
                    background: @blue;
                    margin-top: 20px;
                    color: white;
                    line-height: 20px;

                    &:hover {
                        background: @blue - 20%;
                    }
                }

                & a:after {
                    content: ' ' url(../images/icon.jpg);
                }
            }
        }
    }
    
     & #logged {
         background: url(../images/logged.png);
    }


    & #column {
        width: 198px;
        margin: 0 auto;

        & ul {
            margin-top: 40px;
            line-height: 1;

            & ul.sub-items {
                margin: 0;
                display: none;

                & li {
                }

                & a {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    width: 170px;
                    line-height: 39px;
                    padding-left: 10px;
                    padding-bottom: 3px;
                    border-bottom: 1px solid @gray;

                    &:before {
                        content: '\f0da　';
                        font-family: "FontAwesome";
                    }

                    &.current {
                        position: relative;
                        color: @red;

                        &::before {
                            background: white;
                            color: @red;
                            content: "\f0da　";
                            font-family: "FontAwesome";
                        }
                    }
                }

                & li:first-child {
                    & a {
                        margin-top: 12px;
                    }
                }

                & li:last-child {
                    & a {
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}



#main {
    margin: 145px 0 0 0;
    padding: 10px 0;
    width: 710px;
    float: right;
    overflow: hidden;

    & nav {
        width: 100%;
        height: 70px;
        background: url(../images/nav_bk.png) top center no-repeat;



        & ul {
            padding: 20px 15px 0 0;
            float: right;

            & li {
                display: inline-block;
                *display:inline;
                *zoom:1;
                /*float: left;*/
            }
        }
    }

    & section {
        width: 95%;
        margin: 0 auto;
        border: 5px solid #fff;
        overflow: hidden;
        min-height: 250px;
        .box-shadow(0 0 6px #ccc);
        .border-radius(5px);

        & .info {

            & .title {
                background: url(../images/newsbk.jpg) repeat-x;
                height: 70px;
                .border-radius(5px);

                & .news-title {
                    float: left\9;
                }

                & #search {
                    margin: 20px 20px 0 0;
                    float: right;


                    & ul {
                        & li {
                            float: left;
                            margin: 0 3px;
                        }
                    }

                    & select {
                        padding: 2px 3px;
                        width: 100px;
                        border: 1px solid #ccc;
                    }

                    & input {
                        padding: 3px;
                        width: 120px;
                        border: 1px solid #ccc;
                    }
                }
            }

            & .contact {
                margin: 5px 6px 5px 5px;
                line-height: 160%;
            }
        }
    }
}

.list {

    & h1 {
        font-size: 13px;
        color: red;
        padding: 15px 5px;
    }

    & h3 {
        font-size: 13px;
        padding: 15px 5px;

        & span {
            color: red;
            padding: 5px 0;
            display: inline-block;
            *display:inline;
            *zoom:1;
        }
    }

    & ul, table {
        padding: 10px 0;
        width: 100%;

        &.contact {
            & td {
                font-size: 13px;
                line-height: 24px;
                text-align: left;
                width: 50%;
                vertical-align: top;
            }
        }

        & td, th {
            padding: 5px;
            vertical-align: middle;
        }

        & th {
            font-weight: normal;
            font-size: 13px;
            border: 3px double @gray;
        }

        & td {
            border: 3px double @gray;
            text-align: center;

            &.left {
                text-align: left;
            }

            & span {
                color:#f00;
                
                &:after {
                    content: ' 名';
                    color:@black;
               }
            }
        }


        & .list-title {
            border-bottom: 1px dashed @red;

            & strong {
                width: 515px;
                text-align: center;
            }
        }


        & li, tr {
            border-bottom: 1px solid #ccc;
            padding-left: 10px;

            &:nth-child(2n) {
                background: #f0f0f0;
            }

            & strong {
                width: 525px;
                font-weight: normal;
                display: inline-block;
                *display:inline;
                *zoom:1;
                padding: 8px 0;
            }

            & span {
                padding: 8px 10px;

                & img {
                    position: relative;
                    top: 8px;
                }
            }
        }
    }
}

#message {
    & .post {
        text-align: right;
        margin: 0 0 5px 0;
    }

    & ul.message {
        & li {
            background: #eee;
            .border-radius(3px);
            margin: 12px 0;
            padding: 5px;

            & span {
                float: right;
                color: #808080;
            }

            & b {
                color: @blue;
            }

            & div.com {
                padding: 8px 0;

                & div.recom {
                    background: @blue;
                    .border-radius(3px);
                    color: #fff;
                    padding: 8px;
                    margin: 8px 0 0 15px;

                    & span {
                        color: rgb(190, 190, 190);
                        display: block;
                        float: none;
                    }
                }
            }
        }
    }
}


#path {
    padding: 10px 5px;


    & span {
        padding: 0 0 5px 0;
        display: block;
        float: right;
        
        & .btnback {
            position: relative;
            top: -5px;
        }
    }
}
.main-title {
    padding: 10px 5px;
    border-bottom: 3px double @gray;
    border-top: 3px double @gray;
    background: @gray + 15%;

    & span {
        float:right;
        color:#666;
        padding-top:2px;
    }
}
#content {
    padding: 5px;
    border-bottom: 3px double @gray;
    line-height: 220%;

    & p {
        padding: 10px 0;
    }
}
#download {
    padding: 5px;

    & ul {
        width: 100%;
        margin: 5px 0;

        & a {
            color: white;
            padding: 2px 10px;
            line-height: 200%;
            display: block;
        }

        & li {
            margin: 3px 0;
            background: @blue;
            .border-radius;

            &:hover {
                 background: @blue - 20%;
            }

            & strong {
                width: 45%;
                display: inline-block;
                *display:inline;
                *zoom:1;
            }

            & span {
                padding: 0 12px;
                display: inline-block;
                *display:inline;
                *zoom:1;
            }
        }
    }
}
.detail {
    border-bottom: 3px double @gray;

    & ul {
        margin:5px;
        & li {
            padding: 2px 5px;
            display: inline-block;
            *display:inline;
            *zoom:1;
            border-right: 1px solid @gray;
            background: @bluelight;
            .border-radius(8px);
        }
    }
}


.infor {
    padding: 5px 0;
    margin: 10px 0;
    border-top: 3px double @gray;
    border-bottom: 3px double @gray;

    & ul {
        & li {
            border-bottom: 1px solid @gray;
            padding: 5px;
            background: @gray + 15%;

            &:nth-child(2n) {
                background: @bluelight;
            }

            &.note {
                line-height: 220%;
                color: @red;

                & span.note {
                    color: #808080;
                }
            }

            & span {
                color: #f00;
            }

            & label {
                width: 120px;
                display: inline-block;
                *display:inline;
                *zoom:1;
            }

            & ol {
                margin: 5px 0;

                & li {
                    background: white;
                    padding: 10px;

                    &:nth-child(2n) {
                        background: white;
                    }

                    & div {
                        display: inline-block;
                        *display:inline;
                        *zoom:1;
                    }

                    & span {
                        color: @red;
                    }

                    & .checkbox {
                        background: @gray;
                        padding: 5px 10px;
                        width: 100%;
                        .border-radius;

                        & label {
                            width: auto;

                            & span {
                                color: @red;
                            }
                        }

                        & table {
                            width: 100%;

                            & td {
                                padding: 5px;
                                width: 20%;
                            }
                        }
                    }

                    & label {
                        & span {
                            color: #333;
                        }
                    }

                    & input[type="text"], input[type="email"], input[type="password"], input[type="tel"], select, textarea {
                        .border-radius(2px);
                        border: 1px solid #e2e3ea;
                        border-top: 1px solid #abadb3;
                        padding: 2px;

                        &.subject {
                            width: 350px;
                        }
                    }

                    & input[type="email"] {
                        width: 200px;
                    }

                    & select {
                        min-width: 128px;
                        padding: 2px;
                    }

                    & input[type="checkbox"], input[type="radio"] {
                        margin-right: 5px;
                        vertical-align: -0.25em;
                    }
                }
            }

            & .comment {

                & li {
                    vertical-align: top;
                }

                & input[type="text"] {
                    width: 80%;
                }

                & textarea {
                    width: 80%;
                    height: 150px;
                }

                & .btns {
                    text-align: center;
                    width: 100%;

                    & button {
                        margin: 5px;
                    }
                }
            }
        }

        & .center {
            text-align: center;
        }
    }
}

.buttonbox {
    text-align: center;

    & button.top {
        background: @red;
        color: white;

        &:hover {
            background: @red - 20%;
        }
    }
}


.links-info {
    & .links-ul {
        & li {
            float: left;
            margin: 13px;
            padding: 6px;
            border: 1px solid #e6e6e6;

            & img {
                width: 180px;
                height: 135px;
            }

            & div {
                text-align: center;
            }
        }
    }
}


#pages {
    padding: 15px 0;
    text-align: center;

    & .btn {
        border: 1px solid #c7c7c7;
        background: #949494;
        padding: 3px 12px;
        color: white;
    }

    & .opt {
        border: 1px solid #658f8f;
        background: #367f7f;
        padding: 3px 6px;
        display: inline-block;
        *display:inline;
        *zoom:1;
        color: white;
    }

    & select {
        padding: 2px 2px 1px 2px;
        width: 50px;
    }
}


footer {
    margin-top: 20px;
    width: 100%;
    background: #f7f7f7;
    padding: 15px 0;
    display: table;

    & .OutInner {
        margin: 0 auto;
        width: 900px;
    }

    & .InInner {
        vertical-align: top;
        display: table-row;

        & .aplus {
            vertical-align: top;
            text-align: center;
            display: table-cell;
            width: 150px;
        }

        & .info {
            vertical-align: top;
            display: table-cell;
            line-height: 160%;

            & a {
                color: red;
            }
        }
    }
}






