@import url("reset.css");

@import url("font-awesome.min.css");
@charset "utf-8";
body {
  background: url(../images/bk.jpg) top center #ffffff no-repeat;
  font-family: 微軟正黑體,Arial;
  margin: 0;
  width: auto;
  height: auto;
  max-height: none;
  max-width: none;
  font-size: 0.83em;
  /* ie6.7 */

  font-size: 0.89em\0;
  /* ie8.9 */

}
a {
  color: #333333;
}
a:hover {
  color: #4089c2;
}
/* button css */
.button,
button {
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  /* Uppercase text */

  text-decoration: none;
  /* class - link Remove baseline */

  display: inline-block;
  *display: inline;
  *zoom: 1;
  word-wrap: break-word;
  word-break: normal;
  /* br */

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 3px 12px;
  *padding:3px 12px 0 12px;
  background: #eee;
  border: 1px solid #e4e4e4;
}
.button:hover,
button:hover {
  background: #b82629;
  color: #fff;
}
#wrapper {
  width: 100%;
}
#container {
  width: 940px;
  margin: 0 auto;
  min-height: 300px;
  overflow: hidden;
}
#topbar {
  height: 40px;
  width: 100%;
  background: url(../images/topbk.png) top repeat-x;
  /*background-size: 100% auto;*/

}
#topbar .info {
  width: 960px;
  margin: 0 auto;
  text-align:center;
}
#topbar .info .counter {
  padding: 10px 15px 0 15px;
  width: 400px;
  height: 30px;
  float: right;
  background: url(../images/counterbk.png) no-repeat;
  color: #b82629;
  font-size:12px;
}
#sidebar {
  width: 220px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 150px 0 0 0;
  float: left\9;
}
#sidebar #login,
#sidebar #logged {
  width: 214px;
  height: 310px;
  background: url(../images/login.png);
}
#sidebar #login ul,
#sidebar #logged ul {
  padding-top: 70px;
  line-height: 36px;
  margin: 0 auto;
  width: 150px;
}
#sidebar #login ul li input,
#sidebar #logged ul li input {
  width: 110px;
  padding: 5px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  margin-left: 32px;
}
#sidebar #login ul li button,
#sidebar #logged ul li button {
  width: 160px;
  background: #4089c2;
  color: white;
  line-height: 20px;
}
#sidebar #login ul li button:hover,
#sidebar #logged ul li button:hover {
  background: #2c75ae;
}
#sidebar #login ul li a:after,
#sidebar #logged ul li a:after {
  content: ' ' url(../images/icon.jpg);
}
#sidebar #logged {
  background: url(../images/logged.png);
}
#sidebar #column {
  width: 198px;
  margin: 0 auto;
}
#sidebar #column ul {
  margin-top: 40px;
  line-height: 1;
}
#sidebar #column ul ul.sub-items {
  margin: 0;
  display: none;
  
}
#sidebar #column ul ul.sub-items a {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 170px;
  line-height: 39px;
  padding-left: 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid #e6e6e6;
}
#sidebar #column ul ul.sub-items a:before {
  content: '\f0da　';
  font-family: "FontAwesome";
}
#sidebar #column ul ul.sub-items a.current {
  position: relative;
  color: #b82629;
}
#sidebar #column ul ul.sub-items a.current::before {
  background: white;
  color: #b82629;
  content: "\f0da　";
  font-family: "FontAwesome";
}
#sidebar #column ul ul.sub-items li:first-child a {
  margin-top: 12px;
}
#sidebar #column ul ul.sub-items li:last-child a {
  margin-bottom: 12px;
}
#main {
  margin: 145px 0 0 0;
  padding: 10px 0;
  width: 710px;
  float: right;
  overflow: hidden;
}
#main nav {
  width: 100%;
  height: 70px;
  background: url(../images/nav_bk.png) top center no-repeat;
  font-size: 0;
}
#main nav ul {
  padding: 20px 15px 0 0;
  float: right;
}
#main nav ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  /*float: left;*/

}
#main section {
  width: 95%;
  margin: 0 auto;
  border: 5px solid #fff;
  overflow: hidden;
  min-height: 250px;
  -webkit-box-shadow: 0 0 6px #cccccc;
  -moz-box-shadow: 0 0 6px #cccccc;
  box-shadow: 0 0 6px #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#main section .info .title {
  background: url(../images/newsbk.jpg) repeat-x;
  height: 70px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#main section .info .title .news-title {
  float: left\9;
}
#main section .info .title #search {
  margin: 20px 20px 0 0;
  float: right;
}
#main section .info .title #search ul li {
  float: left;
  margin: 0 3px;
}
#main section .info .title #search select {
  padding: 2px 3px;
  width: 100px;
  border: 1px solid #ccc;
}
#main section .info .title #search input {
  padding: 3px;
  width: 120px;
  border: 1px solid #ccc;
}
#main section .info .contact {
  margin: 5px 6px 5px 5px;
  line-height: 160%;
}
.list h1 {
  font-size: 13px;
  color: red;
  padding: 15px 5px;
}
.list h3 {
  font-size: 13px;
  padding: 15px 5px;
}
.list h3 span {
  color: red;
  padding: 5px 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.list ul,
.list table {
  padding: 10px 0;
  width: 100%;
}
.list ul.contact td,
.list table.contact td {
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  width: 50%;
  vertical-align: top;
}
.list ul td,
.list table td,
.list ul th,
.list table th {
  padding: 5px;
  vertical-align: middle;
}
.list ul th,
.list table th {
  font-weight: normal;
  font-size: 13px;
  border: 3px double #e6e6e6;
}
.list ul td,
.list table td {
  border: 3px double #e6e6e6;
  text-align: center;
}
.list ul td.left,
.list table td.left {
  text-align: left;
}
.list ul td span,
.list table td span {
  color: #f00;
}
.list ul td span:after,
.list table td span:after {
  content: ' 名';
  color: #333333;
}
.list ul .list-title,
.list table .list-title {
  border-bottom: 1px dashed #b82629;
}
.list ul .list-title strong,
.list table .list-title strong {
  width: 515px;
  text-align: center;
}

.list ul li,
.list table li,
.list ul tr,
.list table tr {
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
}
.list ul li:nth-child(2n),
.list table li:nth-child(2n),
.list ul tr:nth-child(2n),
.list table tr:nth-child(2n) {
  background: #f0f0f0;
}
.list ul li strong,
.list table li strong,
.list ul tr strong,
.list table tr strong {
  width: 525px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 0 8px;
}
.list ul li span,
.list table li span,
.list ul tr span,
.list table tr span {
  padding: 8px 10px;
  *padding:0;
}
.list ul li span img,
.list table li span img,
.list ul tr span img,
.list table tr span img {
  position: relative;
  top: 8px;
  *top:3px;
}
#message .post {
  text-align: right;
  margin: 0 0 5px 0;
}
#message ul.message li {
  background: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 12px 0;
  padding: 5px;
}
#message ul.message li span {
  float: right;
  color: #808080;
}
#message ul.message li b {
  color: #4089c2;
}
#message ul.message li div.com {
  padding: 8px 0;
}
#message ul.message li div.com div.recom {
  background: #4089c2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  padding: 8px;
  margin: 8px 0 0 15px;
}
#message ul.message li div.com div.recom span {
  color: #bebebe;
  display: block;
  float: none;
}
#path {
  padding: 10px 5px;
}
#path span {
  padding: 0 0 5px 0;
  display: block;
  float: right;
}
#path span .btnback {
  position: relative;
  top: -5px;
  right:0;.
  *top:-25px;
}
.main-title {
  padding: 10px 5px;
  border-bottom: 3px double #e6e6e6;
  border-top: 3px double #e6e6e6;
  background: #f5f5f5;
}
.main-title span {
  float: right;
  color: #666;
  padding-top: 2px;
}
#content {
  padding: 5px;
  border-bottom: 3px double #e6e6e6;
  line-height: 220%;
}
#content p {
  padding: 10px 0;
}
#download {
  padding: 5px;
}
#download ul {
  width: 100%;
  margin: 5px 0;
}
#download ul a {
  color: white;
  padding: 2px 10px;
  line-height: 200%;
  display: block;
}
#download ul li {
  margin: 3px 0;
  background: #4089c2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#download ul li:hover {
  background: #2c75ae;
}
#download ul li strong {
  width: 45%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#download ul li span {
  padding: 0 12px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.detail {
  border-bottom: 3px double #e6e6e6;
}
.detail ul {
  margin: 5px;
}
.detail ul li {
  padding: 2px 5px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-right: 1px solid #e6e6e6;
  background: #d4e2eb;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.infor {
  padding: 5px 0;
  margin: 10px 0;
  border-top: 3px double #e6e6e6;
  border-bottom: 3px double #e6e6e6;
}
.infor ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 5px;
  background: #f5f5f5;
}
.infor ul li:nth-child(2n) {
  background: #d4e2eb;
}
.infor ul li.note {
  line-height: 220%;
  color: #b82629;
}
.infor ul li.note span.note {
  color: #808080;
}
.infor ul li span {
  color: #f00;
}
.infor ul li label {
  width: 120px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.infor ul li ol {
  margin: 5px 0;
}
.infor ul li ol li {
  background: white;
  padding: 10px;
  *height:25px;
}
.infor ul li ol li:nth-child(2n) {
  background: white;
}
.infor ul li ol li div {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.infor ul li ol li span {
  color: #b82629;
}
.infor ul li ol li .checkbox {
  background: #e6e6e6;
  padding: 5px 10px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.infor ul li ol li .checkbox label {
  width: auto;
}
.infor ul li ol li .checkbox label span {
  color: #b82629;
}
.infor ul li ol li .checkbox table {
  width: 100%;
}
.infor ul li ol li .checkbox table td {
  padding: 5px;
  width: 20%;
}
.infor ul li ol li label span {
  color: #333;
}
.infor ul li ol li input[type="text"],
.infor ul li ol li input[type="email"],
.infor ul li ol li input[type="password"],
.infor ul li ol li input[type="tel"],
.infor ul li ol li select,
.infor ul li ol li textarea {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #e2e3ea;
  border-top: 1px solid #abadb3;
  padding: 2px;
}
.infor ul li ol li input[type="text"].subject,
.infor ul li ol li input[type="email"].subject,
.infor ul li ol li input[type="password"].subject,
.infor ul li ol li input[type="tel"].subject,
.infor ul li ol li select.subject,
.infor ul li ol li textarea.subject {
  width: 350px;
}
.infor ul li ol li input[type="email"] {
  width: 200px;
}
.infor ul li ol li select {
  min-width: 128px;
  padding: 2px;
}
.infor ul li ol li input[type="checkbox"],
.infor ul li ol li input[type="radio"] {
  margin-right: 5px;
  vertical-align: -0.25em;
}
.infor ul li ol li input[type="checkbox"] + label,
.infor ul li ol li input[type="radio"] + label {
  width: auto;
  margin: 0 10px 0 0;
}
.infor ul li .comment li {
  vertical-align: top;
}
.infor ul li .comment li label {
  vertical-align: top;
}
.infor ul li .comment input[type="text"] {
  width: 80%;
}
.infor ul li .comment textarea {
  width: 80%;
  height: 150px;
}
.infor ul li .comment input[type="radio"] + label {
  width: auto;
  margin: 0 10px 0 0;
}
.infor ul li .comment .btns {
  text-align: center;
  width: 100%;
}
.infor ul li .comment .btns button {
  margin: 5px;
}
.infor ul .center {
  text-align: center;
}
.buttonbox {
  text-align: center;
}
.buttonbox button.top {
  background: #b82629;
  color: white;
}
.buttonbox button.top:hover {
  background: #a41215;
}
.links-info .links-ul li {
  float: left;
  margin: 13px;
  padding: 6px;
  border: 1px solid #e6e6e6;
}
.links-info .links-ul li img {
  width: 180px;
  height: 135px;
}
.links-info .links-ul li div {
  text-align: center;
}
#pages {
  padding: 15px 0;
  text-align: center;
  font-size:12px;
}
#pages .btn {
  border: 1px solid #c7c7c7;
  background: #949494;
  padding: 3px 12px;
  color: white;
}
#pages .opt {
  border: 1px solid #658f8f;
  background: #367f7f;
  padding: 3px 6px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: white;
  margin:0 2px;
}
#pages select {
  padding: 2px 2px 1px 2px;
  width: 50px;
}
footer {
  margin-top: 20px;
  width: 100%;
  background: #f7f7f7;
  padding: 15px 0;
  display: table;
}
footer .OutInner {
  margin: 0 auto;
  width: 900px;
  font-size:0.83em;
}
footer .InInner {
  vertical-align: top;
  display: table-row;
}
footer .InInner .aplus {
  vertical-align: top;
  text-align: center;
  display: table-cell;
  width: 150px;
  *display: inline;
  *zoom: 1;
}
footer .InInner .info {
  vertical-align: top;
  display: table-cell;
  line-height: 160%;
  *display: inline;
  *zoom: 1;
}
footer .InInner .info a {
  color: red;
  
  }
  
#sidebar #login  #code {
text-align: center;
margin-left: 33px;
 
  }
