@charset 'UTF-8';

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

html {
	margin: 0;
    padding: 0;
    height: 100%;
}
body {
	height: auto !important;
    min-height: 100%;
    height: 100%;
	margin:0;
	padding:0;
	background:#f7f7f7;
}
body, td, th, input, select, textarea, option, optgroup {
	font:12px 'Open Sans', sans-serif;
	color: #000000;
}
:focus {outline: 0;}
a,a:hover,input {
    vertical-align:baseline;
    background:transparent;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	text-decoration:none;
	color:#333;
}
input[type='text'],input[type='date'], input[type='password'],input[type='search'] {
	color:#666;
	border: 1px solid #cbcbcb;
	padding: 3px;
	cursor: pointer;
	background:#f5f3f4;
	letter-spacing: 1px;
	font:12px 'Open Sans', sans-serif;
	width:90%;
}
input[type='button']{
	color:#666;
	border: 1px solid #cbcbcb;
	padding: 3px 20px;
	cursor: pointer;
	background:#f5f3f4;
	letter-spacing: 1px;
	font:12px 'Open Sans', sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display:inline-block;
	}
	input[type='button']:hover {
	background:#4d7496;
	color:#fff;
	
}
a.button, .list a.button {
	background:#f5f3f4;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border: 1px solid #cbcbcb;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font:12px 'Open Sans', sans-serif;
	padding:3px 20px;
	text-decoration:none;
	}
	a.button:hover , .list a.button:hover {
	background:#4d7496;
	color:#fff;
	
}
div.btn{
	cursor: pointer;
    background:#f5f3f4;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border: 1px solid #cbcbcb;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font:12px 'Open Sans', sans-serif;
	text-decoration:none;
	text-align:center;
	margin:2px;
	width:93px;
	padding:3px 0;
}
div.btn:hover {
    background:#4d7496;
	color:#fff;
}
div.btn input {
	cursor: pointer;
	position:absolute;
	width: 120px;
	height: 20px;
	font-size: 10px;
	width:100px;
	opacity: 0;
	filter:alpha(opacity=0);
}
dl, dt, dd, ol, ul, li {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
select {
	padding: 1px;
}
textarea {
	padding: 2px;
}
a, a:visited {
	color: #003366;
	cursor: pointer;
}
a img {
	border: 0;
}
form {
	margin: 0;
	padding: 0;
}
label {
	cursor: pointer;
}
hr {margin:5px 0;
	border: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 3px;
	}
#header .div1 {
	height: 60px;
	padding: 0px 0px;
	/*background: url('../image/header.png') repeat-x;*/
	min-width: 900px;
	background:#4d7496;
}
#header .div2 {
	color: #FFFFFF;
	float: left;
	margin-left:10px;
	height:60px;
}
#header .div3 {
	font: 12px 'Open Sans', sans-serif;
	color: #FFF;
	text-align: right;
	float: right;
}
#header .div3 a { color:#ccc; }
#header .div3 a:hover { color:#fff; }
#header #btn ul { margin:0; padding:0;}
#header #btn li {
	padding:0 20px;
	border-left:1px solid #6587a4;
	height:40px;
	float:left;
	padding-top:20px;
	display:block;
	}
	
	
	/* menu*/
	#cssmenu {
	  background:#f6f6f6;
	  width:250px;
	  display: table-cell;
	  border-top:7px solid #496985;
	  margin:0;
	  padding-bottom:50px;
	  height:100%;
	}
	.menu li, .menu li ul li {
	  list-style-type:none;
	  margin: 0;
	  padding: 0;
	}
	.menu > li > a {
		background:url(../image/lefticon.png) 4% 49% #f6f6f6 no-repeat;
		border-bottom: 1px solid #ccc;
		width: 100%;
		line-height: 4em;
		text-indent: 2.75em;
		display: block;
		position: relative;
		color: #333;
	}
	.menu > li .top { 
		background:url(../image/lefticon_over.png) 4% 49% #f6f6f6 no-repeat;
		border-bottom: 1px solid #ccc;
		width: 100%;
		height: 4em;
		line-height: 4em;
		text-indent: 2.75em;
		display: block;
		position: relativ }
	.menu ul li a {
		background:url(../image/leftnor.jpg) left repeat-y  #fff;
		border-bottom: 1px solid #ccc;
		width: 100%;
		height: 4em;
		line-height: 4em;
		text-indent: 2.75em;
		display: block;
		position: relative;
		font-size: 0.923em;
		color: #333;
	}
	.menu ul li:last-child a {
		border-bottom: 1px solid #ccc;
		color:#333;
	}
	.menu > li > a:hover, .menu > li > a.active {
		background-color: #e5e5e5;
	}
	.menu > li > a.active {
		border-bottom: 1px solid #1a638f;
	}
	.menu > li > a:before {
		content: '';
		background-image: url(../images/sprite.png);
		background-repeat: no-repeat;
		font-size: 36px;
		height: 1em;
		width: 1em;
		position: absolute;
		left: 0;
		top: 50%;
		margin: -.5em 0 0 0;
	}
	
	.menu > li > a span {
		font-size: 0.75em; 
		display: inline-block;
		position: absolute;
		right: 1em;
		top: 50%; 
		background: #ccc;
		line-height: 1em;
		height: 1em;
		padding: .4em .6em;
		margin: -.8em 0 0 0; 
		color: #fff;
		text-indent: 0;
		text-align: center;
		-webkit-border-radius: .869em;
		-moz-border-radius: .869em;
		border-radius: .869em;
		-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
		-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
		box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
		text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	}
	.menu > li > a:hover span, .menu > li a.active span {
		background: #6587a4;
	}
	.menu > li > ul li a:before{
		color: #333;
	}
	
	.menu > li > ul li:hover a,
	.menu > li > ul li:hover a span,
	.menu > li > ul li:hover a:before {
		color: #333;
		background:url(../image/leftover.jpg) left repeat-y;
	}
	.menu > li > ul li > .over { background:url(../image/leftover.jpg) #e5e5e5 left repeat-y;}
	
	
	.menu ul > li > a span {
		font-size: 0.857em; 
		display: inline-block;
		position: absolute;
		right: 1em;
		top: 50%; /
		background: #fff;
		border: 1px solid #d0d0d3;
		line-height: 1em;
		height: 1em;
		padding: .4em .7em;
		margin: -.9em 0 0 0; 
		color: #878d95;
		text-indent: 0;
		text-align: center;
		-webkit-border-radius: .769em;
		-moz-border-radius: 769em;
		border-radius: 769em;
		text-shadow: 0px 0px 0px rgba(255,255,255,.01));
	}


#container {
	overflow: hidden;
	display:table;
	width: 100%;
	height:100%;
}
body > #container {
	height:90%;

}
#content_login {
  float:left;
  width: 100%;
	background: #FFFFFF url('../image/background.png') 0px 1px repeat-x;
	padding: 10px 30px 0px 30px;
	padding-bottom: 128px;
}
#content {
  background:#eee;
  display: table-cell;
  /*background: #FFFFFF url('../image/background.png') 0px 1px repeat-x;*/
  padding:0 10px 10px 10px;
  border-top:7px solid #6587a4;
}
.tab-general-ad {width:370px; padding:10px; margin:10px; float:left;border:1px solid #eee;}
.tab-general-ad:hover { background:#E7E7E7; border:1px solid #ccc; }
.center { text-align:center; }
fieldset {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #ccc;}
legend {  padding:10px;}
.list .contact-people { 
	border-right:1px solid #cbcbcb; background:#f7f7f7; text-align:center; width:150px;}
.infobox li { 
	width:49%;float:left; background:#fff; border:1px solid #ccc; line-height:200%; margin:10px 0; padding:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;}
@media screen and (max-width: 1400px) { 
	.infobox li { width:98%;}
}
.infobox li:nth-child(odd) { margin-right:7px;}

#footer {
	background: #fff url('../image/footer.png') repeat-x;
	height: 40px;
	padding-top: 20px;
	text-align: center;
	font-size: 12px;
	color: #333;
	clear: both;
	width:100%;
	font: 12px 'Open Sans', sans-serif;
	bottom:0px;
	position:relative;
}
#footer a {
	color: #333;
	font: 12px 'Open Sans', sans-serif;
}
.breadcrumb, .breadcrumb a {
	font-size: 12px;
	color: #666;
	margin: 12px;
	text-align:right;
}
.success {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	margin-top: 3px;
	color: #FF0000;
	display: block;
	font-size: 14px;
	font-weight: normal;
}
.help {
	color: #666;
	font-size: 11px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
.icon {
	vertical-align: middle;
	cursor: pointer;
}
.image {
	border: 1px solid #EEEEEE;
	padding: 10px;
	display: inline-block;
}
.image img {
	margin-bottom: 5px;
}
.box {
	margin-bottom: 15px;
}
.box > .heading {
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid #DBDBDB;
	background: url('../image/box.png') repeat-x;
}
.box > .heading h1 {
	margin: 0px;
	padding: 11px 0px 0px 0px;
	color: #333;
	font-size: 12px;
	float: left;
	font-weight:normal;
}
.box > .heading h1 img {
	float: left;
	margin-top: -1px;
	margin-left: 3px;
	margin-right: 8px;
}
.box > .heading .buttons {
	float: right;
	padding-top: 7px;
	margin-right: 5px;
}
.buttons input[type='date'] { width:150px; margin-right:5px; }
.box > .heading .buttons .button {
	margin-left: 5px;
}
.box > .content h2 { 
	text-transform: uppercase;
	color: #4d7496;
	font:12px 'Open Sans', sans-serif;
	padding-bottom: 5px;
	border-bottom: 1px dotted #ccc;
	margin:10px;
	font-weight:normal;
}
.box > .content {
	padding: 10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	min-height: 300px;
	overflow: auto;
}
.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin-bottom: 20px;
	background:#fff;
}
.list th { height:50px;/*border-right: 1px solid #ddd;*/border-bottom: 1px solid #ddd; text-align:left; padding:0 5px;}
.list td {
	/*border-right: 1px solid #ddd;*/
	border-bottom: 1px solid #ddd;
	
	
}
.list tbody td a {
	color:#4d7496;
	text-decoration:none;
	display:block;
	
}
.list tbody td a:hover {
	color:#333;
}
.list tbody td span { padding-left:10px;}
.list .book-img {
	text-align:center;
	padding:5px 0;
	}
.list tbody td {
	vertical-align: middle;
	padding:12px 5px;
}
.list tbody tr:hover td {
	background-color: #E7E7E7;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
.list .left {
	text-align: left;
	padding: 7px;
}
.list .right {
	text-align: right;
	padding: 7px;
}
.list .center {
	text-align: center;
	padding: 7px;
}
.list .asc {
	padding-right: 15px;
	background: url('../image/asc.png') right center no-repeat;
}
.list .desc {
	padding-right: 15px;
	background: url('../image/desc.png') right center no-repeat;
}
.list tr.filter td, .list tr:hover.filter td {
	padding: 5px;
	background: #E7EFEF;
}
.pagination {
	border-top: 1px solid #ddd;
	display: inline-block;
	width: 100%;
	padding-top: 6px;
}
.pagination .links {
	float: left;
	padding-top: 6px;
}
.pagination .links a {
	border: 1px solid #ddd;
	padding: 4px 10px;
	font-size: 12px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 6px;
	font-size: 12px;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form > tbody > tr > td:first-child {
	width: 200px;
}
table.form > tbody > tr > td {
	padding: 10px;
	color: #000000;
	border-bottom: 1px dotted #ccc;
}
.scrollbox {
	border: 1px solid #ccc;
	width: 350px;
	height: 100px;
	background: #FFFFFF;
	overflow-y: scroll;
}
.scrollbox img {
	float: right;
	cursor: pointer;
}
.htabs {
	padding: 0px 0px 0px 10px;
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
.htabs a {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.vtabs {
	width: 190px;
	padding: 10px 0px;
	min-height: 300px;
	float: left;
	display: block;
	border-right: 1px solid #ddd;
}
.vtabs a {
	display: none;
}
.vtabs a, .vtabs span {
	display: block;
	float: left;
	width: 160px;
	margin-bottom: 5px;
	clear: both;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #F7F7F7;
	padding: 6px 14px 7px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	color: #000000;
}
.vtabs a.selected {
	padding-right: 15px;
	background: #FFFFFF;
}
.vtabs a img, .vtabs span img {
	position: relative;
	top: 3px;
	cursor: pointer;
}
.vtabs-content {
	margin-left: 205px;
}
.accordion-heading {
	background: #EFEFEF;
	border: 1px solid #ddd;
	padding: 8px;
	font-weight: bold;
	font-size: 12px;
	color: #555555;
	margin-bottom: 15px;
}
.accordion-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.accordion-content {
	padding: 0px 0px 15px 0px;
	overflow: auto;
}
.scrollbox div {
	padding: 3px;
}
.scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}
.scrollbox div.even {
	background: #FFFFFF;
}
.scrollbox div.odd {
	background: #E4EEF7;
}
.overview {
	float: left;
	width: 49%;
	margin-bottom: 20px;
}
.overview table {
	width: 100%;
}
.overview td + td {
	text-align: right;
}
.statistic {
	float: right;
	width: 49%;
	margin-bottom: 20px;
}
.range {
	float: right;
	color: #FFF;
	vertical-align: middle;
}
.range {
	padding-top: 1px;
	padding-right: 1px;
}
.range, .range select {
	font-size: 12px;
}
.latest {
	clear: both;
}
.latest tbody td {
	background: #FFF;
}
.dashboard-heading {
	background: #547C96;
	color: #FFF;
	border-bottom: 1px solid #8EAEC3;
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
}
.dashboard-content {
	background: #FCFCFC;
	border: 1px solid #8EAEC3;
	padding: 10px;
	min-height: 180px;
}
.refresh {
	cursor: pointer;
	position: relative;
	top: 3px;
}


.searchdate { margin-bottom:10px; }
.in_search { margin-top:7px; }