 ul, li
    {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #Tab
    {
        width: 100%;
    }
    .TabBtn
    {
        width: 100%;
        height: 32px;
        border-bottom: 1px solid #999;
        border-left: 1px solid #999;
    }
    .TabBtn li
    {
        float: left;
        height: 31px;
        line-height: 31px;
        overflow: hidden;
        position: relative;
        margin-bottom: -1px;
        border: 1px solid #999;
        border-left: none;
        background: #e1e1e1;
    }
    .TabBtn li.active
    {
        background: #6699CC;
        border-bottom: 1px solid#fff;
    }
    .TabBtn li a
    {
        display: block;
        padding: 0 20px;
        color: #000;
        border: 1px solid #fff;
        text-decoration: none;
    }   